body{
    font-family: 'Oswald', sans-serif;
}
.experiencia{
  background-image: url('../images/bg_rgj.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 0.2rem;
}
html {
    scroll-behavior: smooth;
}
.brand{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.menu{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.menu a{
    color: #FFFFFF;
    text-decoration: underline;  
      }
    a:hover {
    color: purple;
    text-decoration: underline;
  }
}

hr{
    height: 10px;
    width: 15%;
    color: #000000;
}
.navegador{
    background-color: #660066;
    color: #FFFFFF;
}
.abajo{
    height: 221px;
    width: 100%;
    background-color: #660066;
}
.ultimos{
    background-color: #660066;
    color: #FFFFFF;
}
.centro{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.about{
    background-color: #FFFFF7;
}
.hero-arriba img{
    width: 100%;
}
.contacto{
    height: 723px;
}
.subtitulo{
    font-size: 52px;
    font-family: 'Oswald', sans-serif;
}
.subtitulo2{
    font-size: 52px;
    font-family: 'Oswald', sans-serif;
    color: #373A3C;
}
.space-bottom{
    padding-bottom: 100px;
}

.bolder{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-decoration: underline;
}
.titulo{
    font-size: 72px;
}

@media screen and (max-width: 414px){
    .titulo {
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 2px;
    }
}   
.titulo2{
    font-size: 72px;
    font-weight: 200;
}   

    @media screen and (max-width: 414px){
        .titulo2 {
        font-size: 20px;
        font-weight: 200;
        padding-top: 2px;
        }
    }   

}.titulo-card{
    font-size: 23px;
    font-weight: 400;

}.titulo-card a{
    color: #ff3336;
    a:link {
    text-decoration: none;  
      }
      
      a:visited {
      color: green;
      text-decoration: none;
      }
      
      a:hover {
        color: purple;
        text-decoration: underline;
      }
      
      a:active {
        text-decoration: underline;
        color: purple;
      }

}.titulo-card-ex{
    font-size: 30px;
    font-weight: 500;

}.titulo-card-ex-light{
    font-size: 30px;
    font-weight: 200;
}
.texto-yosoy{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 30%;
  }

  .carousel-content {
    position: absolute;
    background-size:  cover;
    bottom: 7%;
    left: 40%;
    z-index: 10;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
  

@media screen and (max-width: 414px){
    .carousel-content {
    position: absolute;
    background-size:  cover;
    bottom: 70%;
    left: 30%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
}   

