body{
    font-family: 'Oswald', sans-serif;
}
.navegador{
    background-color: #660066;
    color: #FFFFFF;
}
.abajo{
    height: 221px;
    width: 100%;
    background-color: #660066;
}
.ultimos{
    background-color: #660066;
    color: #FFFFFF;
}
.centro{
    height: 482px;
}
.hero-arriba img{
    width: 100%;
}
.contacto{
    height: 723px;
}
.subtitulo{
    font-size: 52px;
}
.titulo{
    font-size: 72px;
}
.titulo2{
    font-size: 72px;
    font-weight: 200;

}.titulo-card{
    font-size: 23px;
    font-weight: 500;

}.titulo-card-ex{
    font-size: 30px;
    font-weight: 500;

}.titulo-card-ex-light{
    font-size: 30px;
    font-weight: 200;
}




